/A1/New Folder/HelloWorld/nbproject/private/
/A1/New Folder/HelloWorld/dist/
/A1/New Folder/HelloWorld/build/
/A1/SolucionesCodigoA1_UD2/CuadradoLado5/nbproject/private/
/A1/SolucionesCodigoA1_UD2/CuadradoLado5/build/
/A1/SolucionesCodigoA1_UD2/CuadradoLado5/dist/
/A1/SolucionesCodigoA1_UD2/CuadradoLadoUsuario/nbproject/private/
/A1/SolucionesCodigoA1_UD2/CuadradoLadoUsuario/build/
/A1/SolucionesCodigoA1_UD2/CuadradoLadoUsuario/dist/
/A1/SolucionesCodigoA1_UD2/Ex4Operaciones/nbproject/private/
/A1/SolucionesCodigoA1_UD2/Ex4Operaciones/dist/
/A1/SolucionesCodigoA1_UD2/Ex4Operaciones/build/
/A1/SolucionesCodigoA1_UD2/A1_ud2_ex9mayoredad/nbproject/private/
/A1/SolucionesCodigoA1_UD2/A1_ud2_ex9mayoredad/build/
/A1/SolucionesCodigoA1_UD2/ex6/nbproject/private/
/A1/SolucionesCodigoA1_UD2/ex6/build/
/A1/SolucionesCodigoA1_UD2/ex6/dist/
/A1/SolucionesCodigoA1_UD2/ex7/nbproject/private/
/A1/SolucionesCodigoA1_UD2/ex7/build/
/A1/SolucionesCodigoA1_UD2/ex7/dist/
/A1/SolucionesCodigoA1_UD2/ex9/nbproject/private/
/A1/SolucionesCodigoA1_UD2/ex10/nbproject/private/
/A1/SolucionesCodigoA1_UD2/ex10/build/
/A1/SolucionesCodigoA1_UD2/ex10/dist/
/A1/SolucionesCodigoA1_UD2/ex11/nbproject/private/
/A1/SolucionesCodigoA1_UD2/ex11/build/
/A1/SolucionesCodigoA1_UD2/ex11/dist/
/A1/SolucionesCodigoA1_UD2/ex12_positivo/nbproject/private/
/A1/SolucionesCodigoA1_UD2/ex13/nbproject/private/
/A1/SolucionesCodigoA1_UD2/ex13/dist/
/A1/SolucionesCodigoA1_UD2/ex13/build/
/A1/SolucionesCodigoA1_UD2/ex14/nbproject/private/
/A1/SolucionesCodigoA1_UD2/ex16_notas/nbproject/private/
/A1/SolucionesCodigoA1_UD2/LeerCaracter/nbproject/private/
/A1/SolucionesCodigoA1_UD2/LeerCaracter/build/
/A1/SolucionesCodigoA1_UD2/LeerCaracter/dist/
/A1/ClashRoyale/ClashRoyale/nbproject/private/
/A1/ClashRoyale/ClashRoyale/build/
/A1/ClashRoyale/ClashRoyale/dist/
/A1/ClashRoyale/Canvi/nbproject/private/
/A1/ClashRoyale/Canvi/build/
/A1/ClashRoyale/Canvi/dist/
/A1/SolucionesCodigoA1_UD2/ExerciciEsmorzarsExamen/nbproject/private/
/A1/SolucionesCodigoA1_UD2/ExDiesSetmanaSwitch/nbproject/private/
/A1/SolucionesCodigoA1_UD2/ExDiesSetmanaSwitch/build/
/A1/SolucionesCodigoA1_UD2/ExDiesSetmanaSwitch/dist/
